In [1]:
import pandas as pd
import pathlib
import numpy as np
import os

import time
import cv2
from matplotlib import pyplot as plt

In [2]:
skeleton_ypr_csv_base_path = '/disks/data/paper_projects/selfie_detection/data/DS_224_all_features_no_duplicates/color_skeleton+ypr/'

dlib_sep_files_base_path = '/disks/data/paper_projects/selfie_detection/data/DS_224_all_features_no_duplicates/dlib_faces/'

In [3]:
class_names = ['mirror_selfie','non_mirror_selfie','non_selfie','selfie']

In [4]:
class_name = class_names[3]

In [5]:
skel_ypr_df = pd.read_csv(skeleton_ypr_csv_base_path+class_name+'.csv')

In [6]:
skel_ypr_df.shape

(1789, 9)

In [7]:
skel_ypr_df.head()

,filename,x_min,y_min,x_max,y_max,confidence_score,yaw,pitch,roll
0,google_selfie_face_170616_000001.jpg_im_skelet...,69.812607,4.751129,162.124390,135.267654,NaN,-9.648262,-3.431259,-6.078819
1,selfie_mshah_0001648.jpg_im_skeleton.jpg,53.091011,12.870911,208.733215,216.841751,NaN,-0.098442,-7.082375,-13.808197
2,selfie_tag_22327052554_d12e2c56bc_c.jpg_im_ske...,148.288559,124.413925,210.506119,214.626694,NaN,8.638893,4.630257,-3.675873
3,selfie_mshah_0018411.jpg_im_skeleton.jpg,33.179024,63.901459,154.551422,237.846588,NaN,-3.005219,-15.897232,0.924484
4,selfie_mshah_0018349.jpg_im_skeleton.jpg,110.925224,29.970924,243.742859,227.320526,NaN,-1.087578,0.386696,-13.165344

In [8]:
skel_ypr_df.filename.values[:5]

array(['google_selfie_face_170616_000001.jpg_im_skeleton.jpg',
       'selfie_mshah_0001648.jpg_im_skeleton.jpg',
       'selfie_tag_22327052554_d12e2c56bc_c.jpg_im_skeleton.jpg',
       'selfie_mshah_0018411.jpg_im_skeleton.jpg',
       'selfie_mshah_0018349.jpg_im_skeleton.jpg'], dtype=object)

In [9]:
dlib_bb_cols = ['left','top','right','bottom']
dlib_pts_cols = [l+'_'+str(i) for i in range(1,69) for l in ('x','y') ]
dlib_cols = dlib_bb_cols+dlib_pts_cols

In [10]:
dlib_path = pathlib.Path(dlib_sep_files_base_path+class_name) 

dlib_files = list(dlib_path.glob("**/*.txt"))

len(dlib_files)

1790

In [11]:
dlib_info_df = pd.DataFrame(index=np.arange(0, len(dlib_files)), columns= ['im_name'] + dlib_cols)

for i,dlib_file in enumerate(dlib_files):
    with open(dlib_file) as f:
        nums = list(map(int,f.read().strip().split(' ')))
        
    im_name = os.path.splitext(os.path.split(str(dlib_file))[1])[0] +'.jpg'
    dlib_info_df.loc[i] = [im_name] + nums

In [12]:
dlib_info_df.shape

(1790, 141)

In [13]:
skel_ypr_df.filename.replace('_im_skeleton.jpg','', inplace = True, regex = True)

In [14]:
skel_ypr_df.head()

,filename,x_min,y_min,x_max,y_max,confidence_score,yaw,pitch,roll
0,google_selfie_face_170616_000001.jpg,69.812607,4.751129,162.124390,135.267654,NaN,-9.648262,-3.431259,-6.078819
1,selfie_mshah_0001648.jpg,53.091011,12.870911,208.733215,216.841751,NaN,-0.098442,-7.082375,-13.808197
2,selfie_tag_22327052554_d12e2c56bc_c.jpg,148.288559,124.413925,210.506119,214.626694,NaN,8.638893,4.630257,-3.675873
3,selfie_mshah_0018411.jpg,33.179024,63.901459,154.551422,237.846588,NaN,-3.005219,-15.897232,0.924484
4,selfie_mshah_0018349.jpg,110.925224,29.970924,243.742859,227.320526,NaN,-1.087578,0.386696,-13.165344

In [15]:
skel_ypr_df = skel_ypr_df.rename(columns={'filename':'im_name'})

In [16]:
skel_ypr_df.head()

,im_name,x_min,y_min,x_max,y_max,confidence_score,yaw,pitch,roll
0,google_selfie_face_170616_000001.jpg,69.812607,4.751129,162.124390,135.267654,NaN,-9.648262,-3.431259,-6.078819
1,selfie_mshah_0001648.jpg,53.091011,12.870911,208.733215,216.841751,NaN,-0.098442,-7.082375,-13.808197
2,selfie_tag_22327052554_d12e2c56bc_c.jpg,148.288559,124.413925,210.506119,214.626694,NaN,8.638893,4.630257,-3.675873
3,selfie_mshah_0018411.jpg,33.179024,63.901459,154.551422,237.846588,NaN,-3.005219,-15.897232,0.924484
4,selfie_mshah_0018349.jpg,110.925224,29.970924,243.742859,227.320526,NaN,-1.087578,0.386696,-13.165344

In [17]:
im_name_ypr_dlib = pd.merge(skel_ypr_df, dlib_info_df, on = 'im_name', how='inner')

In [18]:
im_name_ypr_dlib.shape

(1788, 149)

In [19]:
im_name_ypr_dlib.head()

,im_name,x_min,y_min,x_max,y_max,confidence_score,yaw,pitch,roll,left,...,x_64,y_64,x_65,y_65,x_66,y_66,x_67,y_67,x_68,y_68
0,google_selfie_face_170616_000001.jpg,69.812607,4.751129,162.124390,135.267654,NaN,-9.648262,-3.431259,-6.078819,46,...,98,78,104,76,98,79,96,79,92,80
1,selfie_mshah_0001648.jpg,53.091011,12.870911,208.733215,216.841751,NaN,-0.098442,-7.082375,-13.808197,38,...,112,122,130,117,115,129,108,132,101,133
2,selfie_tag_22327052554_d12e2c56bc_c.jpg,148.288559,124.413925,210.506119,214.626694,NaN,8.638893,4.630257,-3.675873,106,...,136,140,140,141,136,140,134,140,131,140
3,selfie_mshah_0018411.jpg,33.179024,63.901459,154.551422,237.846588,NaN,-3.005219,-15.897232,0.924484,26,...,79,144,91,142,79,148,74,149,68,148
4,selfie_mshah_0018349.jpg,110.925224,29.970924,243.742859,227.320526,NaN,-1.087578,0.386696,-13.165344,79,...,144,132,157,130,145,134,140,135,135,135

In [20]:
im_name_ypr_dlib['skeleton'] = im_name_ypr_dlib['im_name'].replace('.jpg','.jpg_skeleton.jpg', inplace = False, regex = True)

In [21]:
im_name_ypr_dlib.skeleton.values[:5]

array(['google_selfie_face_170616_000001.jpg_skeleton.jpg',
       'selfie_mshah_0001648.jpg_skeleton.jpg',
       'selfie_tag_22327052554_d12e2c56bc_c.jpg_skeleton.jpg',
       'selfie_mshah_0018411.jpg_skeleton.jpg',
       'selfie_mshah_0018349.jpg_skeleton.jpg'], dtype=object)

In [22]:
im_name_ypr_dlib['im_skeleton'] = im_name_ypr_dlib['im_name'].replace('.jpg','.jpg_im_skeleton.jpg', inplace = False, regex = True)

In [23]:
im_name_ypr_dlib.im_skeleton.values[:5]

array(['google_selfie_face_170616_000001.jpg_im_skeleton.jpg',
       'selfie_mshah_0001648.jpg_im_skeleton.jpg',
       'selfie_tag_22327052554_d12e2c56bc_c.jpg_im_skeleton.jpg',
       'selfie_mshah_0018411.jpg_im_skeleton.jpg',
       'selfie_mshah_0018349.jpg_im_skeleton.jpg'], dtype=object)

In [24]:
im_name_ypr_dlib['im_masked'] = im_name_ypr_dlib['im_name'].replace('.jpg','.jpg_masked.jpg', inplace = False, regex = True)

In [25]:
im_name_ypr_dlib.im_masked.values[:5]

array(['google_selfie_face_170616_000001.jpg_masked.jpg',
       'selfie_mshah_0001648.jpg_masked.jpg',
       'selfie_tag_22327052554_d12e2c56bc_c.jpg_masked.jpg',
       'selfie_mshah_0018411.jpg_masked.jpg',
       'selfie_mshah_0018349.jpg_masked.jpg'], dtype=object)

In [26]:
im_name_ypr_dlib.head()

,im_name,x_min,y_min,x_max,y_max,confidence_score,yaw,pitch,roll,left,...,y_65,x_66,y_66,x_67,y_67,x_68,y_68,skeleton,im_skeleton,im_masked
0,google_selfie_face_170616_000001.jpg,69.812607,4.751129,162.124390,135.267654,NaN,-9.648262,-3.431259,-6.078819,46,...,76,98,79,96,79,92,80,google_selfie_face_170616_000001.jpg_skeleton.jpg,google_selfie_face_170616_000001.jpg_im_skelet...,google_selfie_face_170616_000001.jpg_masked.jpg
1,selfie_mshah_0001648.jpg,53.091011,12.870911,208.733215,216.841751,NaN,-0.098442,-7.082375,-13.808197,38,...,117,115,129,108,132,101,133,selfie_mshah_0001648.jpg_skeleton.jpg,selfie_mshah_0001648.jpg_im_skeleton.jpg,selfie_mshah_0001648.jpg_masked.jpg
2,selfie_tag_22327052554_d12e2c56bc_c.jpg,148.288559,124.413925,210.506119,214.626694,NaN,8.638893,4.630257,-3.675873,106,...,141,136,140,134,140,131,140,selfie_tag_22327052554_d12e2c56bc_c.jpg_skelet...,selfie_tag_22327052554_d12e2c56bc_c.jpg_im_ske...,selfie_tag_22327052554_d12e2c56bc_c.jpg_masked...
3,selfie_mshah_0018411.jpg,33.179024,63.901459,154.551422,237.846588,NaN,-3.005219,-15.897232,0.924484,26,...,142,79,148,74,149,68,148,selfie_mshah_0018411.jpg_skeleton.jpg,selfie_mshah_0018411.jpg_im_skeleton.jpg,selfie_mshah_0018411.jpg_masked.jpg
4,selfie_mshah_0018349.jpg,110.925224,29.970924,243.742859,227.320526,NaN,-1.087578,0.386696,-13.165344,79,...,130,145,134,140,135,135,135,selfie_mshah_0018349.jpg_skeleton.jpg,selfie_mshah_0018349.jpg_im_skeleton.jpg,selfie_mshah_0018349.jpg_masked.jpg

In [27]:

#skeleton_and_ypr.filename = skeleton_and_ypr.filename + '_im_skeleton.jpg'

im_name_ypr_dlib.to_csv(dlib_sep_files_base_path+f'{class_name}.csv',
                              columns = im_name_ypr_dlib.columns, 
                              header = im_name_ypr_dlib.columns,
                              index = False)

# visualize some sample face box (TODO: and fiducial points)

In [28]:
# im_base_path = '/disks/data/paper_projects/selfie_detection/data/DS_224_all_features_no_duplicates/raw_image/'

# sample_count = 10

# idxs = np.random.randint(0,len(im_name_ypr_dlib.index),(sample_count))

# for idx in idxs:
#     row = im_name_ypr_dlib.iloc[idx]
#     fname = row.im_name
# #     yaw = row.yaw
# #     pitch = row.pitch
# #     roll = row.roll
# #     x_min = row.x_min
# #     x_max = row.x_max
# #     y_min = row.y_min
# #     y_max = row.y_max
#     left = row.left
#     top = row.top
#     right = row.right
#     bottom = row.bottom
    
#     im = cv2.imread(im_base_path+class_name+'/'+fname)
#     im = cv2.cvtColor(im,cv2.COLOR_BGR2RGB)
    
#     cv2.line(im, (int(left), int(top)), (int(right),int(top)),(0,0,255),3)
#     cv2.line(im, (int(right), int(top)), (int(right),int(bottom)),(0,0,255),3)
#     cv2.line(im, (int(right), int(bottom)), (int(left),int(bottom)),(0,0,255),3)
#     cv2.line(im, (int(left), int(bottom)), (int(left),int(top)),(0,0,255),3)
    
#     #drawn_im = draw_axis(im, yaw, pitch, roll, tdx = (x_min + x_max) / 2, tdy= (y_min + y_max) / 2, size = bbox_height/2)
    
#     plt.imshow(im)
#     plt.show()
#     time.sleep(2)