In [1]:
import pandas as pd
import pathlib
import numpy as np

In [2]:
# basepath = pathlib.Path('/disks/data/paper_projects/selfie_detection/data/DS_224_all_features_no_duplicates/images_dockerfaces_yaw-pitch-roll')


# class_name = 'mirror_selfie'
# dfR = pd.read_csv(basepath/f'{class_name}__confirmed_faces.txt', header=None,delimiter=' ')
# dfL = pd.read_csv(basepath/f'{class_name}__confirmed_vidframenames.txt', header=None,delimiter=' ')
# df_ypr = pd.read_csv(basepath/f'{class_name}__confirmed_ypr.txt', header=None,delimiter=' ')


# csv_savepath = '/disks/data/paper_projects/selfie_detection/data/DS_224_all_features_no_duplicates/yaw_pitch_roll/'


basepath = \
    pathlib.Path('/disks/data/paper_projects/selfie_detection/data/DS_224_all_features_no_duplicates/images_dockerfaces_yaw-pitch-roll_224x224_July22nd')


class_name = 'mirror_selfie'
dfR = pd.read_csv(basepath/f'{class_name}__confirmed_faces_July22nd.txt', header=None,delimiter=' ')
dfL = pd.read_csv(basepath/f'{class_name}__confirmed_224x224_July22nd_vidframenames.txt', header=None,delimiter=' ')
df_ypr = pd.read_csv(basepath/f'{class_name}__confirmed_ypr_July22nd.txt', header=None,delimiter=' ')


csv_savepath = '/disks/data/paper_projects/selfie_detection/data/DS_224_all_features_no_duplicates/yaw_pitch_roll_July22nd/'

In [3]:
print(dfL.columns)
print(len(dfL.index))

print(dfR.columns)
print(len(dfR.index))

print(df_ypr.columns)
print(len(df_ypr.index))

Int64Index([0], dtype='int64')
305
Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')
321
Int64Index([0, 1, 2, 3], dtype='int64')
304

# Left frame (image files)

In [4]:
dfL.head()

                                                   0
0  /home/tarik/data/mirror_selfie__confirmed_224x...
1  /home/tarik/data/mirror_selfie__confirmed_224x...
2  /home/tarik/data/mirror_selfie__confirmed_224x...
3  /home/tarik/data/mirror_selfie__confirmed_224x...
4  /home/tarik/data/mirror_selfie__confirmed_224x...

In [5]:
# add a column containing the seq number = index + 1
dfL['seq'] = dfL.index+1
# rename column for joining (and others, for clarity)
#dfL.columns = ['filenames','seq']
dfL = dfL.rename(columns={0:'filenames'})
dfL.head()

                                           filenames  seq
0  /home/tarik/data/mirror_selfie__confirmed_224x...    1
1  /home/tarik/data/mirror_selfie__confirmed_224x...    2
2  /home/tarik/data/mirror_selfie__confirmed_224x...    3
3  /home/tarik/data/mirror_selfie__confirmed_224x...    4
4  /home/tarik/data/mirror_selfie__confirmed_224x...    5

In [6]:
print(len(dfL.index))
dfL.tail()

305

                                             filenames  seq
300  /home/tarik/data/mirror_selfie__confirmed_224x...  301
301  /home/tarik/data/mirror_selfie__confirmed_224x...  302
302  /home/tarik/data/mirror_selfie__confirmed_224x...  303
303  /home/tarik/data/mirror_selfie__confirmed_224x...  304
304  /home/tarik/data/mirror_selfie__confirmed_224x...  305

# RIght frame (face detections)

In [7]:
dfR.head()

   0           1           2           3           4         5
0  1   84.147331  121.989624  125.069405  172.935699  0.998930
1  2  124.609093   52.094398  149.390427   82.652107  0.986948
2  3  100.801842   43.494392  159.089020   97.447746  0.999367
3  4  126.559448   58.795425  169.163177  108.098145  0.999339
4  5  155.481247   72.016388  193.172806  132.426147  0.999402

In [8]:
dfR = dfR.rename(columns={0:'seq'})
dfR = dfR.rename(columns={5:'confidence'})

In [9]:
dfR.head()

   seq           1           2           3           4  confidence
0    1   84.147331  121.989624  125.069405  172.935699    0.998930
1    2  124.609093   52.094398  149.390427   82.652107    0.986948
2    3  100.801842   43.494392  159.089020   97.447746    0.999367
3    4  126.559448   58.795425  169.163177  108.098145    0.999339
4    5  155.481247   72.016388  193.172806  132.426147    0.999402

In [10]:
len(dfR.index)

321

In [11]:
# dfR[dfR.confidence<0.98].shape

In [12]:
# compute face detection box area
# columns: frame_number x_min y_min x_max y_max confidence_score
dfR['Area']=(dfR.iloc[:,3] - dfR.iloc[:,1])*(dfR.iloc[:,4] - dfR.iloc[:,2])

In [13]:
dfR.head()

,seq,1,2,3,4,confidence,Area
0,1,84.147331,121.989624,125.069405,172.935699,0.998930,2084.819051
1,2,124.609093,52.094398,149.390427,82.652107,0.986948,757.260793
2,3,100.801842,43.494392,159.089020,97.447746,0.999367,3144.788748
3,4,126.559448,58.795425,169.163177,108.098145,0.999339,2100.479722
4,5,155.481247,72.016388,193.172806,132.426147,0.999402,2276.937996

In [14]:
df_ypr.head()

   0          1          2          3
0  1  -7.152298   9.043900  -3.272041
1  2  28.412048  -4.789505  20.200836
2  3  -2.119171  -3.119179  -1.864700
3  4  10.906158   2.815491  -1.299934
4  5  -1.779739  20.233772 -13.259689

In [15]:
df_ypr = df_ypr.rename(columns={0:'seq',1:'yaw',2:'pitch',3:'roll'})
df_ypr.head()

   seq        yaw      pitch       roll
0    1  -7.152298   9.043900  -3.272041
1    2  28.412048  -4.789505  20.200836
2    3  -2.119171  -3.119179  -1.864700
3    4  10.906158   2.815491  -1.299934
4    5  -1.779739  20.233772 -13.259689

In [16]:
print(len(df_ypr.index))
df_ypr.tail()

304

     seq        yaw     pitch      roll
299  301  42.128876 -9.215614  2.952805
300  302  10.674423 -5.197868 -7.307480
301  303  12.274689 -5.444756 -1.670639
302  304 -21.203049 -6.477966  3.659668
303  305  -3.338905 -5.889839  0.818634

# Merge filenames with face detections

In [17]:
df = pd.merge(dfL, dfR, on='seq', how='left')
df = df.reset_index(drop = True);

In [18]:
# first n rows 
df.iloc[:5]

,filenames,seq,1,2,3,4,confidence,Area
0,/home/tarik/data/mirror_selfie__confirmed_224x...,1,84.147331,121.989624,125.069405,172.935699,0.998930,2084.819051
1,/home/tarik/data/mirror_selfie__confirmed_224x...,2,124.609093,52.094398,149.390427,82.652107,0.986948,757.260793
2,/home/tarik/data/mirror_selfie__confirmed_224x...,3,100.801842,43.494392,159.089020,97.447746,0.999367,3144.788748
3,/home/tarik/data/mirror_selfie__confirmed_224x...,4,126.559448,58.795425,169.163177,108.098145,0.999339,2100.479722
4,/home/tarik/data/mirror_selfie__confirmed_224x...,5,155.481247,72.016388,193.172806,132.426147,0.999402,2276.937996

In [19]:
# m th column 
df.iloc[:,1].head()

0    1
1    2
2    3
3    4
4    5
Name: seq, dtype: int64

In [20]:
len(df.index), max(df.index)

(326, 325)

# Images with at least one detected faces

In [21]:
# rows containing no NaNs
frames_with_faces = df[~df.isnull().any(axis=1)]
frames_with_faces.shape

(321, 8)

In [22]:
# rows containing at least one NaN
frames_with_no_faces = df[df.isnull().any(axis=1)]
frames_with_no_faces.shape

(5, 8)

In [23]:
frames_with_faces = frames_with_faces.reset_index(drop = True);
len(frames_with_faces.index), max(frames_with_faces.index)

(321, 320)

In [24]:
frames_with_faces.head()

,filenames,seq,1,2,3,4,confidence,Area
0,/home/tarik/data/mirror_selfie__confirmed_224x...,1,84.147331,121.989624,125.069405,172.935699,0.998930,2084.819051
1,/home/tarik/data/mirror_selfie__confirmed_224x...,2,124.609093,52.094398,149.390427,82.652107,0.986948,757.260793
2,/home/tarik/data/mirror_selfie__confirmed_224x...,3,100.801842,43.494392,159.089020,97.447746,0.999367,3144.788748
3,/home/tarik/data/mirror_selfie__confirmed_224x...,4,126.559448,58.795425,169.163177,108.098145,0.999339,2100.479722
4,/home/tarik/data/mirror_selfie__confirmed_224x...,5,155.481247,72.016388,193.172806,132.426147,0.999402,2276.937996

# Images with faces and confidence > 0.98

In [25]:
frames_with_confident_faces = frames_with_faces[frames_with_faces.confidence > 0.98]
frames_with_confident_faces.shape,df_ypr.shape
frames_with_confident_faces = frames_with_confident_faces.reset_index(drop=True)
df_ypr = df_ypr.rename(columns = {'seq':'seq_ypr'})
df_ypr = df_ypr.reset_index(drop=True)
len(df_ypr.index)

304

In [26]:
frames_with_confident_faces = pd.concat([frames_with_confident_faces, df_ypr ], axis = 1)

#frames_with_confident_faces = frames_with_confident_faces.reset_index(drop=True).merge(df_ypr.reset_index(drop=True), left_index=True, right_index=True)
frames_with_confident_faces.shape, frames_with_confident_faces.tail()

((304, 12),
                                              filenames  seq           1  \
 299  /home/tarik/data/mirror_selfie__confirmed_224x...  301  110.345581
 300  /home/tarik/data/mirror_selfie__confirmed_224x...  302  138.794479
 301  /home/tarik/data/mirror_selfie__confirmed_224x...  303  141.312363
 302  /home/tarik/data/mirror_selfie__confirmed_224x...  304  185.934418
 303  /home/tarik/data/mirror_selfie__confirmed_224x...  305  103.278618

              2           3           4  confidence         Area  seq_ypr  \
 299  59.417450  131.476913   84.718445    0.998001   534.643725      301
 300  86.151192  165.125046  122.039192    0.994618   944.951388      302
 301   2.441833  214.325974   98.872238    0.998673  7040.732079      303
 302  17.127565  230.266296   78.079758    0.999320  2702.125184      304
 303   9.320766  169.153931   90.968094    0.997801  5378.543288      305

            yaw     pitch      roll
 299  42.128876 -9.215614  2.952805
 300  10.674423 -5.197868 -7.307480
 301  12.274689 -5.444756 -1.670639
 302 -21.203049 -6.477966  3.659668
 303  -3.338905 -5.889839  0.818634  )

In [27]:
# np.all(frames_with_confident_faces.seq == frames_with_confident_faces.seq_ypr)

In [28]:
frames_with_confident_faces.head()

,filenames,seq,1,2,3,4,confidence,Area,seq_ypr,yaw,pitch,roll
0,/home/tarik/data/mirror_selfie__confirmed_224x...,1,84.147331,121.989624,125.069405,172.935699,0.998930,2084.819051,1,-7.152298,9.043900,-3.272041
1,/home/tarik/data/mirror_selfie__confirmed_224x...,2,124.609093,52.094398,149.390427,82.652107,0.986948,757.260793,2,28.412048,-4.789505,20.200836
2,/home/tarik/data/mirror_selfie__confirmed_224x...,3,100.801842,43.494392,159.089020,97.447746,0.999367,3144.788748,3,-2.119171,-3.119179,-1.864700
3,/home/tarik/data/mirror_selfie__confirmed_224x...,4,126.559448,58.795425,169.163177,108.098145,0.999339,2100.479722,4,10.906158,2.815491,-1.299934
4,/home/tarik/data/mirror_selfie__confirmed_224x...,5,155.481247,72.016388,193.172806,132.426147,0.999402,2276.937996,5,-1.779739,20.233772,-13.259689

In [29]:
frames_with_confident_faces = frames_with_confident_faces.reset_index(drop = True)
max(frames_with_confident_faces.index), len(frames_with_confident_faces.index)

(303, 304)

In [30]:
# frames_with_confident_faces_and_ypr = pd.concat([frames_with_confident_faces, df_ypr], axis = 1)
# frames_with_confident_faces_and_ypr.shape

In [31]:
# frames_with_confident_faces_and_ypr = pd.merge(frames_with_confident_faces, df_ypr, on='seq', how='inner')
# frames_with_confident_faces_and_ypr.shape

In [32]:
# pd.concat([df1, df2], axis=1)

In [33]:
frames_with_confident_faces.shape

(304, 12)

In [34]:
# frames_with_confident_faces.seq

In [35]:
# Select all duplicate rows based on sequence number (to find frames with multiple faces)
# returns all but one from the duplicates
duplicate_rows = frames_with_confident_faces[frames_with_confident_faces.duplicated(['seq'])]
duplicate_rows.shape

(9, 12)

In [36]:
frames_with_best_faces = frames_with_confident_faces.copy()
print(len(np.unique(duplicate_rows.seq)))
print(len(frames_with_best_faces.index))
for i in np.unique(duplicate_rows['seq']):
    frames_with_best_faces = frames_with_best_faces[frames_with_best_faces.seq != i]
print(len(frames_with_best_faces.index))

frames_with_best_faces = frames_with_best_faces.reset_index(drop = True)
frames_with_best_faces.tail()

5
304
290

,filenames,seq,1,2,3,4,confidence,Area,seq_ypr,yaw,pitch,roll
285,/home/tarik/data/mirror_selfie__confirmed_224x...,301,110.345581,59.417450,131.476913,84.718445,0.998001,534.643725,301,42.128876,-9.215614,2.952805
286,/home/tarik/data/mirror_selfie__confirmed_224x...,302,138.794479,86.151192,165.125046,122.039192,0.994618,944.951388,302,10.674423,-5.197868,-7.307480
287,/home/tarik/data/mirror_selfie__confirmed_224x...,303,141.312363,2.441833,214.325974,98.872238,0.998673,7040.732079,303,12.274689,-5.444756,-1.670639
288,/home/tarik/data/mirror_selfie__confirmed_224x...,304,185.934418,17.127565,230.266296,78.079758,0.999320,2702.125184,304,-21.203049,-6.477966,3.659668
289,/home/tarik/data/mirror_selfie__confirmed_224x...,305,103.278618,9.320766,169.153931,90.968094,0.997801,5378.543288,305,-3.338905,-5.889839,0.818634

In [37]:
max(frames_with_best_faces.index), len(frames_with_best_faces.index)

(289, 290)

In [38]:
# now find the instance of row with the largest face area from the same frame
frames_with_confident_faces = frames_with_confident_faces.reset_index(drop=True)
frames_with_best_faces = frames_with_best_faces.reset_index(drop=True)


duplicate_rows_seqs = np.unique(duplicate_rows.seq) 

print(len(duplicate_rows_seqs))
print(len(frames_with_best_faces.index))
for duplicate_rows_seq in duplicate_rows_seqs:
    same_seq_rows = frames_with_confident_faces[frames_with_confident_faces.seq==duplicate_rows_seq]
    idx = same_seq_rows.index[same_seq_rows['confidence'].values.argmax()]
    best_face_frame = frames_with_confident_faces.iloc[idx]
    #print(len(frames_with_largest_faces.index))
    frames_with_best_faces = frames_with_best_faces.append(best_face_frame)
    #print(len(frames_with_largest_faces.index))
    #print()
    
    #print(idx, best_face_frame.head())
    #print("+++++++++ ",duplicate_rows_seq,best_face_frame['seq'])
    #print("---------------------------------------")
frames_with_best_faces = frames_with_best_faces.reset_index(drop = True)
print(len(frames_with_best_faces.index))  
frames_with_best_faces.head()

5
290
295

,filenames,seq,1,2,3,4,confidence,Area,seq_ypr,yaw,pitch,roll
0,/home/tarik/data/mirror_selfie__confirmed_224x...,1,84.147331,121.989624,125.069405,172.935699,0.998930,2084.819051,1,-7.152298,9.043900,-3.272041
1,/home/tarik/data/mirror_selfie__confirmed_224x...,2,124.609093,52.094398,149.390427,82.652107,0.986948,757.260793,2,28.412048,-4.789505,20.200836
2,/home/tarik/data/mirror_selfie__confirmed_224x...,3,100.801842,43.494392,159.089020,97.447746,0.999367,3144.788748,3,-2.119171,-3.119179,-1.864700
3,/home/tarik/data/mirror_selfie__confirmed_224x...,4,126.559448,58.795425,169.163177,108.098145,0.999339,2100.479722,4,10.906158,2.815491,-1.299934
4,/home/tarik/data/mirror_selfie__confirmed_224x...,5,155.481247,72.016388,193.172806,132.426147,0.999402,2276.937996,5,-1.779739,20.233772,-13.259689

In [39]:
frames_with_best_faces.tail()

,filenames,seq,1,2,3,4,confidence,Area,seq_ypr,yaw,pitch,roll
290,/home/tarik/data/mirror_selfie__confirmed_224x...,47,99.684372,0.000000,201.535690,113.764000,0.999659,11587.013341,47,-3.206604,-2.198029,-2.767838
291,/home/tarik/data/mirror_selfie__confirmed_224x...,98,92.300705,35.502731,179.673355,151.566940,0.999758,10140.837510,98,7.054573,-0.046814,2.057800
292,/home/tarik/data/mirror_selfie__confirmed_224x...,161,182.120773,39.189041,280.879303,193.162109,0.999487,15206.153855,161,1.052689,-0.682800,13.895523
293,/home/tarik/data/mirror_selfie__confirmed_224x...,212,78.514389,31.837261,153.489197,140.339523,0.999458,8134.936261,212,-31.239960,9.862770,0.291473
294,/home/tarik/data/mirror_selfie__confirmed_224x...,266,115.959061,82.133850,208.220718,199.264130,0.999722,10806.633718,266,-22.173988,-11.356644,-2.597054

In [40]:
# frames_with_best_faces.head()

In [41]:
len(frames_with_best_faces.index), max(frames_with_best_faces.index)

(295, 294)

In [42]:
# from fastai.vision import *
# from sklearn.model_selection import StratifiedKFold
# from fastai.callbacks import *

In [43]:
duplicate_im_basepath = pathlib.Path('/disks/data/paper_projects/selfie_detection/data/DS_July22/duplicates')

duplicate_im_paths = list(duplicate_im_basepath.glob('**/*.jpg')) 
len(duplicate_im_paths)

1122

In [44]:
import os

dup_im_indexs = []
for i, dup_im in enumerate(duplicate_im_paths):
    
    fname, ext = os.path.splitext(os.path.split(dup_im)[1])
    row = frames_with_best_faces[frames_with_best_faces.filenames.str.contains('/'+fname+ext)]
    if (row.shape[0] == 0 ):
        continue
    dup_im_indexs.append(row.index.values.item())
    #print(fname, row.filenames.values, row.index)
    #break
    #dup_im_indexs.append(frames_with_best_faces[frames_with_best_faces['filenames'].str.contains(fname)].index)
    #break

In [45]:
row.filenames.values, ext

(array([], dtype=object), '.jpg')

In [46]:
len(dup_im_indexs)

33

In [47]:
row.filenames.values

array([], dtype=object)

In [48]:
len(frames_with_best_faces.index)

295

In [49]:
# dup_im_indexs

In [50]:
frames_with_best_faces = frames_with_best_faces.drop(frames_with_best_faces.index[dup_im_indexs])

In [51]:
len(frames_with_best_faces.index)

262

In [52]:
frames_with_best_faces.head()

,filenames,seq,1,2,3,4,confidence,Area,seq_ypr,yaw,pitch,roll
0,/home/tarik/data/mirror_selfie__confirmed_224x...,1,84.147331,121.989624,125.069405,172.935699,0.998930,2084.819051,1,-7.152298,9.043900,-3.272041
8,/home/tarik/data/mirror_selfie__confirmed_224x...,9,95.980972,37.767773,160.727585,134.041885,0.999599,6233.422672,9,-31.127274,1.870766,-18.171219
11,/home/tarik/data/mirror_selfie__confirmed_224x...,12,137.619751,33.728134,188.877380,82.486076,0.998536,2499.216502,12,-8.201492,-15.777214,32.990143
12,/home/tarik/data/mirror_selfie__confirmed_224x...,13,146.880142,54.910828,200.943832,127.548874,0.999630,3927.080801,13,-36.375057,2.562912,20.477188
13,/home/tarik/data/mirror_selfie__confirmed_224x...,14,126.980942,67.205742,181.125656,121.141502,0.999565,2920.336300,14,3.363785,-14.306549,44.209015

In [53]:
frames_with_best_faces = frames_with_best_faces.drop(columns=['seq_ypr'])
frames_with_best_faces.head()

,filenames,seq,1,2,3,4,confidence,Area,yaw,pitch,roll
0,/home/tarik/data/mirror_selfie__confirmed_224x...,1,84.147331,121.989624,125.069405,172.935699,0.998930,2084.819051,-7.152298,9.043900,-3.272041
8,/home/tarik/data/mirror_selfie__confirmed_224x...,9,95.980972,37.767773,160.727585,134.041885,0.999599,6233.422672,-31.127274,1.870766,-18.171219
11,/home/tarik/data/mirror_selfie__confirmed_224x...,12,137.619751,33.728134,188.877380,82.486076,0.998536,2499.216502,-8.201492,-15.777214,32.990143
12,/home/tarik/data/mirror_selfie__confirmed_224x...,13,146.880142,54.910828,200.943832,127.548874,0.999630,3927.080801,-36.375057,2.562912,20.477188
13,/home/tarik/data/mirror_selfie__confirmed_224x...,14,126.980942,67.205742,181.125656,121.141502,0.999565,2920.336300,3.363785,-14.306549,44.209015

In [54]:
filenames = [os.path.split(f)[-1] for f in frames_with_best_faces['filenames']]
frames_with_best_faces.insert(0,column = 'filename', value = filenames)

In [55]:
frames_with_best_faces.head()

,filename,filenames,seq,1,2,3,4,confidence,Area,yaw,pitch,roll
0,google_mirror_selfie__091218_000004.jpg,/home/tarik/data/mirror_selfie__confirmed_224x...,1,84.147331,121.989624,125.069405,172.935699,0.998930,2084.819051,-7.152298,9.043900,-3.272041
8,google_mirror_selfie__091218_000151.jpg,/home/tarik/data/mirror_selfie__confirmed_224x...,9,95.980972,37.767773,160.727585,134.041885,0.999599,6233.422672,-31.127274,1.870766,-18.171219
11,google_mirror_selfie__091218_000162.jpg,/home/tarik/data/mirror_selfie__confirmed_224x...,12,137.619751,33.728134,188.877380,82.486076,0.998536,2499.216502,-8.201492,-15.777214,32.990143
12,google_mirror_selfie__091218_000178.jpg,/home/tarik/data/mirror_selfie__confirmed_224x...,13,146.880142,54.910828,200.943832,127.548874,0.999630,3927.080801,-36.375057,2.562912,20.477188
13,google_mirror_selfie__091218_000209.jpg,/home/tarik/data/mirror_selfie__confirmed_224x...,14,126.980942,67.205742,181.125656,121.141502,0.999565,2920.336300,3.363785,-14.306549,44.209015

In [57]:

frames_with_best_faces.to_csv(csv_savepath+f'{class_name}.csv',columns = ['filename',1,2,3,4,'confidence','yaw','pitch','roll'], 
                              header = ['filename','x_min','y_min','x_max','y_max','confidence_score','yaw','pitch','roll'],
                              index = False)

In [57]:
frames_with_best_faces.tail()

,filename,filenames,seq,1,2,3,4,confidence,Area,yaw,pitch,roll
816,google_faces__300612_000464.jpg,/home/tarik/data/non_mirror_selfie__confirmed_...,617,154.367279,21.666767,186.667999,58.017437,0.999125,1174.152813,7.197533,-28.746368,-9.711365
817,google_medium_shot_face_151216_000380.jpg,/home/tarik/data/non_mirror_selfie__confirmed_...,707,161.452667,20.926987,252.812195,197.077606,0.999507,16093.037409,-16.179214,-5.141388,7.363586
818,bing_medium_shot_pastmonth_000105.jpg,/home/tarik/data/non_mirror_selfie__confirmed_...,777,79.236000,25.108391,141.700897,89.984230,0.999647,4052.462601,5.032883,-15.167694,7.410393
819,bing_medium_shot_pastyear_000282.jpg,/home/tarik/data/non_mirror_selfie__confirmed_...,818,129.761993,24.730515,166.945435,64.602982,0.999278,1482.595564,6.110756,-22.549706,-1.132431
820,bing_medium_shot_pastyear_000288.jpg,/home/tarik/data/non_mirror_selfie__confirmed_...,821,139.884811,28.011038,170.537247,61.516930,0.998170,1027.037210,21.306908,-4.563416,2.387558

In [58]:
# frames_with_best_faces['filenames']=frames_with_best_faces.filenames.replace(frames_with_best_faces.index, filenames)

In [59]:
# dup_files = frames_with_best_faces[frames_with_best_faces.duplicated(['filenames'])]

In [60]:
# dup_files

# merging

In [58]:
csv_01 = pd.read_csv('/disks/data/paper_projects/selfie_detection/data/DS_224_all_features_no_duplicates/yaw_pitch_roll/mirror_selfie_J18.csv')
csv_02 = pd.read_csv('/disks/data/paper_projects/selfie_detection/data/DS_224_all_features_no_duplicates/yaw_pitch_roll/mirror_selfie_J22.csv')

csv = csv_01.append(csv_02)
with open('/disks/data/paper_projects/selfie_detection/data/DS_224_all_features_no_duplicates/yaw_pitch_roll/mirror_selfie.csv', 'w', encoding='utf-8') as f:
    csv.to_csv(f, index=False)